*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(240, 3%, 7%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
  color: white;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
  font-size: clamp(1.5rem, 5vmin, 2.5rem);
  padding: 2rem;
}

.section-title {
  text-align: center;
  font-size: clamp(1.3rem, 4vmin, 2rem);
  margin: 1.5rem 0 1rem 0;
}

.green-letters-container,
.yellow-letters-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.green-letter {
  border: 0.05em solid hsl(240, 2%, 23%);
  display: grid;
  place-items: center;
  width: 10rem;
  height: 10rem;
  background-color: #528d4d;
}

.green-letter input {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 8rem;
}

/* yellow letters */

.yellow-letters-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.yellow-letters-input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.input {
  outline: none;
  border: none;
  padding: 0.15rem;
}

.input.input-small {
  font-size: 1.5rem;
  height: 2rem;
}

.input.input-large {
  font-size: 2.5rem;
  padding: 0.15rem;
  height: 3rem;
  width: 15rem;
}

.yellow-letters-input-row input {
  width: 72%;
}

.btn {
  cursor: pointer;
  color: white;
  border: none;
}

.btn.btn-small {
  width: 25%;
  background-color: #b59f3a;
  height: 2rem;
}

.btn.btn-large {
  background-color: #3a3a3c;
  height: 3rem;
  padding: 0 2rem;
  font-size: 1.5rem;
}

.yellow-letters {
  width: 90%;
}

.yellow-letters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.dark-gray-letters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 1rem 0;
}

.letter {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.yellow-letter {
  background-color: #b59f3a;
}

.dark-gray-letter {
  background-color: #3a3a3c;
}

.dark-gray-letters-inner-container {
  display: grid;
  place-items: center;
}

.dark-gray-letters-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
